@import url("https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Public+Sans:ital,wght@0,100..900;1,100..900&display=swap");
* {
  box-sizing: border-box;
  font-family: "Public Sans", sans-serif;
  font-optical-sizing: auto;
  outline: 0;
}

.texto-header {
  font-family: "Public Sans", sans-serif;
}

table, th, td {
  border-left: none !important;
  border-right: none !important;
}

/* Colores distintos para odd & even rows */

#historialBody tr:nth-child(odd) {
  background-color: #f8f9fa; 
}
#historialBody tr:nth-child(even) {
  background-color: #ffffff; 
}

#historialBody tr:hover {
  background-color: #ffeaea; /* light red tint */
  cursor: pointer;
}

